---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

import kbPhoto from "../assets/2024-09-14_06_38_23.jpg";

import htmlLogo from "../assets/icons8-html-48.png";
import cssLogo from "../assets/icons8-css-48.png";
import tailwindLogo from "../assets/icons8-tailwind-css-48.png";
import jsLogo from "../assets/icons8-javascript-48.png";
import pythonLogo from "../assets/icons8-python-48.png";
import tsLogo from "../assets/icons8-typescript-48.png";
import astroLogo from "../assets/icons8-astro-js-48.png";
import svelteLogo from "../assets/icons8-svelte-48.png";
import sqLogo from "../assets/icons8-sqlite-48.png";
import supabaseLogo from "../assets/icons8-supabase-48.png";
import bashLogo from "../assets/icons8-bash-48.png";

import githubLogo from "../assets/icons8-github-48.png";
import inLogo from "../assets/icons8-linkedin-48.png";

const pageTitle = "Kabelo Peelê -- Frontend Dev";
---

<style>
  html {
    background-color: #c9e4ca;
  }

  body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h4 {
    text-align: center;
  }

  .contact-container {
    display: flex;
    justify-content: center;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <article>
        <div class="welcome">
          <h1><span is:raw>{Hello}</span>, friend!</h1>
          <h3>
            I am Kabelo -a frontend developer- and this is my page. You are
            welcome 🙂
          </h3>
        </div>
        <div class="photo">
          <Image src={kbPhoto} alt="photo of myself" width="400" height="400" />
        </div>
      </article>
      <section>
        <h4>-- What I Know --</h4>
        <div class="logo-container">
          <Image src={htmlLogo} alt="HTML logo" />
          <Image src={cssLogo} alt="CSS logo" />
          <Image src={tailwindLogo} alt="Tailwind logo" />
          <Image src={jsLogo} alt="JS logo" />
          <Image src={pythonLogo} alt="Python logo" />
          <Image src={tsLogo} alt="Typescript logo" />
          <Image src={astroLogo} alt="Astro JS logo" />
          <Image src={svelteLogo} alt="Svelte JS logo" />
          <Image src={sqLogo} alt="sqlite logo" />
          <Image src={supabaseLogo} alt="supabase logo" />
          <Image src={bashLogo} alt="bash logo" />
        </div>
      </section>
      <section>
        <h3>-- Contact Me --</h3>
        <div class="contact-container">
          <!-- Github logo link -->
          <a href="https://github.com/kabelom86">
            <Image src={githubLogo} alt="github logo" />
          </a>
          <a href="#">
            <Image src={inLogo} alt="linkedIn logo" />
          </a>
        </div>
      </section>
    </BaseLayout>
  </body>
</html>
