---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

import GreetingComp from "../components/GreetingComp.vue";

import kbPhoto from "../assets/2024-09-14_06_38_23.jpg";

import htmlLogo from "../assets/icons8-html-48.png";
import cssLogo from "../assets/icons8-css-48.png";
import tailwindLogo from "../assets/icons8-tailwind-css-48.png";
import jsLogo from "../assets/icons8-javascript-48.png";
import pythonLogo from "../assets/icons8-python-48.png";
import tsLogo from "../assets/icons8-typescript-48.png";
import vueLogo from "../assets/icons8-vuejs-48.png";
import astroLogo from "../assets/icons8-astro-js-48.png";

import githubLogo from "../assets/icons8-github-48.png";
import inLogo from "../assets/icons8-linkedin-48.png";

const pageTitle = "Kabelo Peelê - Frontend Dev";
---

<style>
  h1 {
    font-size: 3rem;
  }

  .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo .pic {
    max-width: 100%;
  }

  h4 {
    text-align: center;
    font-size: 1.15rem;
  }

  h3 {
    text-align: center;
  }

  .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .work-status {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: chartreuse;
    border: 0.3px solid grey;
    border-radius: 50%;
  }

  .code-wars {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .contact-container {
    display: flex;
    justify-content: center;
  }

  /*  Adjust styles for larger screens */
  @media screen and (min-width: 580px) {
    main {
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
    }

    h1 {
      font-size: 6rem;
    }

    .welcome h3 {
      font-size: 1.38rem;
    }

    .photo .pic {
      max-width: 100%;
      width: 420px;
      height: 420px;
    }

    h3,
    h4 {
      font-size: 1.2rem;
    }
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <main>
        <div class="welcome">
          <GreetingComp client:load />
          <h3>
            My name is Kabelo Peel&ecirc;, and I develop on the frontend. This
            is my page - welcome 🙂
          </h3>
          <p>Available for work: <span class="work-status"></span></p>
        </div>
        <div class="photo">
          <Image
            class="pic"
            src={kbPhoto}
            alt="photo of myself"
            width="400"
            height="400"
          />
        </div>
      </main>
      <section>
        <h4>-- What I Know --</h4>
        <div class="logo-container">
          <Image src={htmlLogo} alt="HTML logo" />
          <Image src={cssLogo} alt="CSS logo" />
          <Image src={tailwindLogo} alt="Tailwind logo" />
          <Image src={jsLogo} alt="JS logo" />
          <Image src={pythonLogo} alt="Python logo" />
          <Image src={vueLogo} alt="Vuejs logo" />
          <Image src={tsLogo} alt="Typescript logo" />
          <Image src={astroLogo} alt="Astro JS logo" />
        </div>
        <div class="code-wars">
          <img
            src="https://www.codewars.com/users/kabelom86/badges/small"
            alt="code wars badge"
          />
        </div>
      </section>
      <section>
        <h3>-- Contact Me --</h3>
        <div class="contact-container">
          <!-- Github logo link -->
          <a href="https://github.com/kabelom86">
            <Image src={githubLogo} alt="github logo" />
          </a>
          <a href="#">
            <Image src={inLogo} alt="linkedIn logo" />
          </a>
        </div>
      </section>
    </BaseLayout>
  </body>
</html>
